- sect1 = section_level == 1
= html_tag_if sect1, :div, class: ['article-component', 'component-text', role]
  *{tag: %(h#{section_level + 1}), id: id, class: ['article-heading', %(h#{section_level + 1})]}
    =section_title
  =content
