- sect0 = section_level == 0
= html_tag_if !sect0, :div, class: ['article-component', 'component-text', role]
  *{tag: %(h#{section_level + 1}), id: id, class: ['article-heading', %(h#{section_level + 1})]}
    =section_title
  =content
