- sect1 = level == 1
= html_tag_if sect1, :div, class: ['component', 'component-text', role]
  *{tag: %(h#{level + 1}), id: id, class: ['component-heading', %(h#{level + 1})]}
    =section_title
  =content
