{% if page.lang == "zh" %}
  {% assign date_format = "%Y 年 %-m 月 %d 日" %}
  {% assign date_group_format = "%-m月 %Y" %}
{% else %}
  {% assign date_format = "%B %-d, %Y" %}
  {% assign date_group_format = "%B %Y" %}
{% endif %}

{% if page.nav %}
  <header class="header-logo-row">
{% else %}
  <header class="header-logo-row no-tabs header-shadow">
{% endif %}
  <div class="main-container text-center">
    {% if page.lang == "zh" %}
    <a href="/archive/zh" class="header-title">杰的文章</a>
    {% else %}
    <a href="/archive/en" class="header-title">Jie's Posts</a>
    {% endif %}
  </div>
</header>

{% if page.nav %}
<nav class="header-tabs header-shadow">
  <div class="container d-flex justify-content-center">
    <ul class="nav">
    {% if page.lang == "zh" %}
      <li class="nav-item">
        <a href="/" class="nav-link">主页</a>
      </li>
      <li class="nav-item" active>
        <a href="/archive/zh" class="nav-link">归档</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" active>
        <a href="/archive/en" class="nav-link">Archive</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
{% endif %}

