<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description | strip != "" %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% if page.layout == "home" %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ page.title }} - Zheng Jie's Blog</title>
  {% endif %}
  <link rel="icon" type="image/png" href="/images/favicon-64x64.png">
  <link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon-180x180.png">
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main.3a630d08455dc78a4b85.css" | relative_url }}">
</head>
