{%- if page.nav -%}
  <header class="header-logo-row">
{%- else -%}
  <header class="header-logo-row no-tabs header-shadow">
{%- endif -%}
  <div class="main-container">
      <div class="component component-text">
          <div class="row gx-0">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="text-center">
                  <a href="/archive/zh" class="header-title">杰的文章</a>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
      </div>
  </div>
</header>

{%- if page.nav -%}
<nav class="header-tabs header-shadow">
  <div class="container d-flex justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a href="/" class="nav-link">主页</a>
      </li>
      <li class="nav-item">
        <a href="/archive/zh" class="nav-link active">归档</a>
      </li>
    </ul>
  </div>
</nav>
{%- endif -%}

