<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
{% include head.html %}
<body>

<div class="header">
{% include header_en.html %}
</div>

<div class="main main-archive">
  <main>
    <div class="archives">
      <div class="archive-group">
        {%- assign posts = site.posts -%}
        {%- assign last_date_group = "" -%}
        {%- for post in posts -%}
          {%- if post.lang == page.lang -%}
            {%- assign post_date_group = post.date | date: "%Y%m" -%}

            {%- if post_date_group != last_date_group -%}
            {%- assign last_date_group = post.date | date: "%Y%m" -%}
            <div class="row">
              <div class="col-12">
                <h2 class="archive-group-title">{{ post.date | date: "%B %Y" }}</h2>
              </div>
            </div>
            {%- endif -%}

            <div class="row">
              <div class="col-12">
                <a href="{{ post.url }}" class="archive">
                  <div class="archive-content archive-no-picture">
                    <p class="archive-topic">{{ post.category }}</p>
                    <h4 class="archive-title">{{ post.title }}</h4>
                    <p class="archive-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                  </div>
                </a>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}

        <div class="row">
          <div class="col-12">
            <ul class="pagination justify-content-center">
              <li class="page-item"><span class="page-num">1</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}
</body>
</html>
