<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
{%- include head.html -%}
<body class="sepia">

<header>
    <div class="logo-row no-tabs header-shadow">
        <div class="component component-text">
            <div class="row gx-0">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <a href="/" class="header-title">Home</a>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</header>

<main class="article">
    <article>
      <div class="article-header component-text">
        <h1 class="article-title">{{ page.title }}</h1>
        {% if page.description %}
        <div class="article-desc">
          {{ page.description }}
        </div>
        {% endif %}

        <div class="line"></div>
      </div>

      {{ content }}
    </article>
</main>

{% include footer.html %}
</body>
</html>
