<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
{%- include head.html -%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
<body>
{%- include header.html -%}

<div class="main">
  <main>
    <div class="main-container">
      <div class="row gx-0">
        <div class="col-md-12">
          <article class="article">
              <div class="article-header component-text">
                <div class="article-eyebow">
                  <div class="article-topic">
                    <a class="topic-link" href="#">{{ page.category }}</a>
                  </div>
                  <div class="article-date">
                    {{ page.date | date: date_format }}
                  </div>
                </div>
                <div class="article-title">
                  <h1 class="h1">{{ page.title }}</h1>
                </div>
                <div class="article-subhead">
                  {{ page.description }}
                </div>
              </div>

              {{ content }}
          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{%- include footer.html -%}

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js">
</script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js">
</script>
<script>
  document.addEventListener("DOMContentLoaded", function (e) {
    const spans = document.querySelectorAll("span.inline-stem");
    for (const s of spans) {
      renderMathInElement(s);
    }
    const blocks = document.querySelectorAll("div.stem");
    for (const b of blocks) {
      renderMathInElement(b);
    }
  });
</script>
<script async src="/static/js/main.d86b163d015d3b97ef8b.js"></script>
</body>
</html>
